:root {
  --bg-primary: #000000;
  --bg-secondary: #808080;
  --bg-tertiary: #f3f4f6; /* gray-100 equivalent */
  --bg-gradient: linear-gradient(93deg, #64E275 -74.03%, #11B6BC 12.62%, #1776B1 99.27%);
  
  --text-primary: #ffffff;
  --text-secondary: #000000;
  
  --button-gradient: linear-gradient(93deg, #64E275 -74.03%, #11B6BC 12.62%, #1776B1 99.27%);
}
